table {
  width: 100%;
  border-spacing: 0;
}

td,
th {
  padding: 0.6em;
  text-align: left;
  border: none;
}

tr {
  background-color: white;
}

thead tr {
  background-color: var(--color-primary);
  color: white;
}

.table__wrapper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.products {
  margin-top: 1rem;
}
