.nav {
  padding: 1em;
  min-width: 200px;
}

.content {
  flex-grow: 1;
  min-height: 100vh;
  padding: 1em;
  background-color: var(--color-background-light);
}

.nav-link {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 0.5em 0.8em;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.nav-link:hover {
  background-color: #f0f0f0;
}

.nav-link--active {
  background-color: #f0f0f0;
}

.logo {
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1.6rem;
}
