/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #38598b;
  --color-primary-light: #a2a8d3;
  --color-primary-dark: #113f67;
  --color-background-light: #e7eaf6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.title {
  margin: 0 0 1rem 0;
}

app-root {
  display: flex;
}
.form__group {
  margin-bottom: 1rem;
}

.form__group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__group input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
}

.form__group select {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
}

.form__row {
  display: flex;
  gap: 1rem;
}

.form {
  max-width: 900px;
  flex-grow: 1;
}

.form h2 {
  margin-bottom: 1rem;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.form__actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.btn--primary {
  background-color: var(--color-primary-light);
  color: black;
}
